body {
  margin: 0;
  min-width: 300px;
}

.the-header {
  background: linear-gradient(red, orange) ;
  padding: 30px 40px;
  color: white;
  text-align: center;

}

.the-header:after{
  content: "";
  display: table;
  clear: both;
}


#the-input{
width: 70%;
padding: 10px;
float: left;
font-size: 16px;
margin: 0;
border: none;
border-radius: 0;

}

.create-button{
  padding: 10px;
  width: 25%;
  background-color: #d9d9d9;
  color: #555;
  font-size: 16px;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 0;

}
.create-button:hover {
  background-color: #bbb;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd){
  background-color: #f6f9f3 ;
}


ul li.checked {
  background: #a4b029;
  color: white;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left:15px;
  transform:rotate(45deg);
  height: 15px;
  width:10px
}

ul li:hover {
  background-color: #f0cc3bee;
}

.close {
  position: absolute;
  right: 0;
  top:0;
  padding: 12px 15px 12px 15px;

}
.close:hover {
  background:rgb(223, 89, 6);
}